<h1 class="title">{{site.about_me_title}}</h1>
<p class="description" data-aos="fade-down">
  Hi, I'm Developer from Latvia.
</p>
<p class="description" data-aos="fade-down">
  I'm a Self taught Developer with a focus on Back End Development.
</p>
<p class="description" data-aos="fade-down">
  I like checking out open source projects and sharing my own code on <a class="highlight-link"
    href="https://github.com/99de" target="_blank" rel="noreferrer"> Github </a>.
</p>
<p class="description" data-aos="fade-down">
  I have experience in Java, Kotlin, Dart and C++. 
</p>
<p class="description" data-aos="fade-down">
  I am passionate about investing and I'm planning to share my experience.
</p>
